<div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="about_taital">Hakkında</h1>
             <p class="about_text">Bu site hastalıklar hakkında bilgi almak isteyen kişiler için oluşturulmuştur. Sitede paylaşılan hiçbir bilginin yükümlülüğü tarafımıza ait değildir.</p>
             <div class="get_bt"><a href="#">İletişim</a></div>
          </div>
       </div>
    </div>
 </div>