<div class="banner_section">
    <div class="container" >
       <div class="row">
          <div class="col-md-6">
             <div class="banner_taital_section" style="color: rgb(252, 252, 252) ; background-color:transparent;  text-shadow: 4px 4px  5px red;">
                <h1 class="design_taital">Online Sağlık Forum Sitesi</h1>
                <div class="contact_bt"></div>
             </div>
          </div>
         
          </div>
       </div>
    </div>
 </div>
</div>