<div class="banner_section">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="banner_taital_section">
                <h1 class="design_taital">We Do Design Blog For Business</h1>
                <div class="contact_bt"><a href="#">Contact Us</a></div>
             </div>
          </div>
          <div class="col-md-6">
             <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="banner_img"><img src="/images/banner-img.png"></div>
                   </div>
                   <div class="carousel-item">
                      <div class="banner_img"><img src="/images/banner-img.png"></div>
                   </div>
                   <div class="carousel-item">
                      <div class="banner_img"><img src="/images/banner-img.png"></div>
                   </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>