<div class="copyright_section">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <p class="copyright_text">© 2020 All Rights Reserved.<a href="https://html.design"> Free  html Templates</a></p>
          </div>
       </div>
    </div>
 </div>