<div class="header_section">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
             <div class="menu_text">
                <ul>
                   <div class="togle_3">
                      <div class="shoping_bag"><a href="#"><img src="images/user-icon.png"></a>
                         <span class="padding_left_40"><a href="#"><img src="images/search-icon.png"></a></span>
                      </div>
                      <div id="myNav" class="overlay">
                         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                         <div class="overlay-content">
                            <a href="index.html">Home</a>
                            <a href="about.html">About</a>
                            <a href="blog.html">Blog</a>
                            <a href="contact.html">Testimonial</a>
                            <a href="contact.html">Contact</a>
                         </div>
                      </div>
                      <span class="navbar-toggler-icon"></span>
                      <span onclick="openNav()"><img src="images/toogle-icon.png" class="toggle_menu"></span>
                   </div>
                </ul>
             </div>
          </div>
       </div>
    </div>