<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="logo"><a href="/">HealthFRM</a></div>
         <div class="menu_text">
            <ul>
               <div class="togle_3">
                  <div class="shoping_bag"><a href="/dashboard"><img src="/images/user-icon.png"></a>
                     <span class="padding_left_40"><a href="#"><img src="/images/search-icon.png"></a></span>
                  </div>
                  <div id="myNav" class="overlay">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     <div class="overlay-content">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                        <a href="contact.html">Testimonial</a>
                        <% if (!userIN) { %>
                          <a href="/login">Login</a>
                          <a href="/signup">Sign Up</a>
                        <% } else { %>
                           <a href="/logout">Log Out</a>
                        <% } %>
                     </div>
                  </div>
                  <span class="navbar-toggler-icon"></span>
                  <span onclick="openNav()"><img src="/images/toogle-icon.png" class="toggle_menu"></span>
               </div>
            </ul>
         </div>
      </div>
   </div>
</div>
