<%- include("partials/_header") %>
   <body>
      <!--header section start -->
<br>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="logo" style = "background-color: black;"><a href="/"><img src="/images/logo.png"></a></div>
         <div class="menu_text">
            <ul>
               <div class="togle_3">
                  <div class="shoping_bag"><a href="#"><img src="/images/user-icon.png"></a>
                     <span class="padding_left_40"><a href="#"><img src="/images/search-icon.png"></a></span>
                  </div>
                  <div id="myNav" class="overlay">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     <div class="overlay-content">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                        <a href="/posts">Blog</a>
                        <a href="contact.html">Testimonial</a>
                        <a href="contact.html">Contact</a>
                     </div>
                  </div>
                  <span class="navbar-toggler-icon"></span>
                  <span onclick="openNav()"><img src="/images/toogle-icon.png" class="toggle_menu"></span>
               </div>
            </ul>
         </div>
      </div>


         
         <!-- banner section start -->
         <!-- banner section end -->
      <!-- header section end -->
      <!-- barber section start -->
      <%- include("partials/_post") %>
      <!-- barber section end -->
      <!-- footer section start -->
      <%- include("partials/_footer") %>
      <!-- footer section end -->
      <!-- copyright section start -->
      <%- include("partials/_copyright") %>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
              
         $(".zoom").hover(function(){
              
         $(this).addClass('transition');
         }, function(){
              
         $(this).removeClass('transition');
         });
         });
      </script> 
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script>  
   </body>
</html>